<!--шаблон для .. -->
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  <!--использование кириллицы -->
        <meta name="description" content = "Доска объявлений, посвещенная книгам"/>
        <meta name="keywords" content = "Объявления,купить, продать, обменять, книги"/>   <!--ключевые слова для поисковиков-->
        <meta name="viewport" content = "width=device-width, initial-scale = 1, shrink-to-fit = no"/>
        <meta name="author" content = "Alexandra Pushkina"/>   <!--информация об авторе -->
        <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
        <link rel = "stylesheet" type = "text/css"
        href="{% static 'main/style.css' %}"> <!--сообщает браузеру, где находится файл CSS , используемый для форматирования страницы-->
        {% bootstrap_javascript jquery = 'slim' %}
    </head>
    <body class="container-fluid">  <!--указание групп элементов, объедененных в класс "container-fluid"-->
        <header class ="mb-4">   <!--заголовок-->
            <h1 class = "display-1 text-center">Объявления</h1>
        </header>
        <div class="row">   <!--макет для создания несколько рядов на странице-->
            <ul class="col nav justify-content-end border">  <!--неупорядоч. список с ссылками(nav)-->
                <li class="nav-item"><a class="nav-link"
                href="#">Регистрация</a></li>
                <li class = "nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href = "#" role="button" aria-haspopup="true"
                    aria-expanded="false">Профиль</a>
                    <div class="dropdown-menu">   <!--Разделитель на меню-столбики-->
                        <a class = "dropdown-item" href = "#">Мои объявления</a>
                        <a class = "dropdown-item" href = "#">Изменить личные данные</a>
                        <a class = "dropdown-item" href = "#">Изменить пароль</a>
                        <div class = "dropdown-divider"></div>
                        <a class = "dropdown-item" href = "#">Выйти</a>
                        <div class = "dropdown-divider"></div>
                        <a class = "dropdown-item" href = "#">Удалить</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Вход</a></li>
            </ul>
        </div>
        <div class="row">
            <nav class="col-md-auto nav flex-column border">
                <a class="nav-link root"
                href="{% url 'main:index' %}">Главная</a>
                <span class="nav-link root font-weight-bold">Художественная литература</span> <!--span - окружение для текста-->
                <a class="nav-link" href="#">Боевик</a>
                <a class="nav-link" href="#">Детектив</a>
                <a class="nav-link" href="#">Мистика</a>
                <a class="nav-link" href="#">Приключения</a>
                <span class="nav-link root font-weight-bold">Учебная литература</span> <!--span - окружение для текста-->
                <a class="nav-link" href="#">Книги для учебных заведений</a>
                <a class="nav-link" href="#">Школьные учебники</a>
            </nav>
            <section class="col border py-2">  <!--Группировка связанного контента-->
                {% bootstrap_messages %}
                {%b lock content %}
                {% endblock %}
            </section>
        </div>
        <footer class="mt-3">
            <p class="text-right font-italic">copy;читатели.</p>
        </footer>
    </body>
</html>