<!--шаблон для .. -->
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  <!--использование кириллицы -->
        <meta name="description" content = "Доска объявлений, посвещенная книгам"/>
        <meta name="keywords" content = "Объявления,купить, продать, обменять, книги"/>   <!--ключевые слова для поисковиков-->
        <meta name="viewport" content = "width=device-width, initial-scale = 1, shrink-to-fit = no"/>
        <meta name="author" content = "Alexandra Pushkina"/>   <!--информация об авторе -->
        <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
        <link rel = "stylesheet" type = "text/css"   <!--сообщает браузеру, где находится файл CSS , используемый для форматирования страницы-->
    </head>
    <body>

    </body>
</html>